/*log-in*/

body {
    background-color: #dcd8d5;
}

.frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 370px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Logo */
.logo {
    width: 340px;
    height: 120px;
    margin: 0;
    background-image: url(media/face-id.png);
    background-size: 100px;
    background-repeat: no-repeat;
}

.logo a {
    text-decoration: none;
    color: #0e78e2;
}

h2 {
    font: 500 2.5em 'Bevan', cursive;
    height: 120px;
    position: absolute;
    left: 35%;
    margin: 0;
    margin-top: 20px;
    color: #0e78e2;
    text-shadow: 1.5px 1.5px 1.5px gray;
}

/*log-in info*/

form {
    display: flex;
    flex-direction: column;
    width: 370px;
    margin-bottom: 18px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 18px;
}

#id,
#pw {
    height: 30px;
    margin-bottom: 18px;
}

#login {
    font: 700 1.1em 'Noto Sans KR', sans-serif;
    letter-spacing: 2px;
    box-sizing: border-box;
    background-color: #0e78e2;
    color: white;
    padding: 5.5px;
    box-shadow: inset 0 -2px 0 rgb(0 0 0 / 38%);
}

.signUp {
    font: 700 1.1em 'Noto Sans KR', sans-serif;
    letter-spacing: 2px;
    box-sizing: border-box;
    background-color: white;
    color: #0e78e2;
    padding: 5.5px;
    text-decoration: none;
    border: 2px solid #ccc;
    width: 370px;
    text-align: center;
    box-shadow: 2px 2px 2px gray;
}
