body {
    margin: 0;
}

/* header */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    height: 100px;
    background-color: #dcd8d5;
}

/* Logo */
.logo {
    display: flex;
    height: 100px;
    margin: 0;
    background-image: url(../media/face-id.png);
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: left;
}

.logo a {
    text-decoration: none;
    color: #0e78e2;
}

h2 {
    display: flex;
    align-items: center;
    font: 500 2em 'Bevan', cursive;
    height: 100px;
    margin: 0;
    margin-left: 80px;
    color: #0e78e2;
    text-shadow: 1.5px 1.5px 1.5px gray;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
}

ul li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: black;
    font: 540 1.45em 'Noto Sans KR', sans-serif;
    margin-right: 30px;
    letter-spacing: 1.5px;
    padding-bottom: 8px;
}

ul a:hover {
    border-bottom: 2.5px solid black;
    /* transition: 0.5s;
  transition-timing-function: ease-out; */
}

#logout {
    border: 2.5px solid rgb(126, 125, 125);
    border-radius: 40px;
    padding: 3px 5px;
    font-size: 1em;
    margin-right: 38px;
}

/*members*/

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    margin-top: 50px;
    text-align: center;
    width: 87%;
}

table tr:nth-child(2n + 3) {
    background-color: rgb(219, 219, 219);
}

table th {
    background-color: #0e78e2;
    color: white;
    font: 540 1.25em 'Noto Sans KR', sans-serif;
}

table td {
    font: 540 1.25em 'Noto Sans KR', sans-serif;
}

table td:nth-child(5) {
    width: 280px;
}

.edit {
    font: 540 1.05em 'Noto Sans KR', sans-serif;
    border: none;
    background-color: transparent;
}

.edit:hover {
    text-decoration: underline;
    cursor: pointer;
}

#add {
    position: fixed;
    bottom: 10%;
    width: 120px;
    height: 50px;
    border: 2px solid rgb(160, 159, 159);
    border-radius: 30px;
    background-color: #23d83b;
    color: white;
    font: 570 21px 'Roboto', sans-serif;
    letter-spacing: 0.9px;
    cursor: pointer;
}

#attend {
    position: absolute;
    top: 100px;
    right: 100px;
    margin: auto;
    width: 120px;
    height: 50px;
    border: 2px solid rgb(160, 159, 159);
    border-radius: 30px;
    background-color: #23d83b;
    color: white;
    font: 570 21px 'Roboto', sans-serif;
    letter-spacing: 0.9px;
    cursor: pointer;
}

#add:hover {
    background-color: #23d83b;
    transform: scale(1.08);
    transition: all 0.1s;
    transition-timing-function: ease-in;
}
