/*Sign-up*/

body {
    background-color: #dcd8d5;
}

/* Logo */

.logo {
    width: 340px;
    height: 120px;
    margin: 0;
    background-image: url(media/face-id.png);
    background-size: 100px;
    background-repeat: no-repeat;
}

.logo a {
    text-decoration: none;
    color: #0e78e2;
}

h2 {
    font: 500 2.5em 'Bevan', cursive;
    height: 120px;
    position: absolute;
    left: 35%;
    margin: 0;
    margin-top: 20px;
    color: #0e78e2;
    text-shadow: 1.5px 1.5px 1.5px gray;
}

/*content*/

.frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 412px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form {
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans KR', sans-serif;
}

form p {
    font-size: 1em;
    margin-bottom: 30px;
}

form input {
    width: 412px;
    height: 39px;
    box-sizing: border-box;
    margin-bottom: 25px;
}

#signupBtn {
    margin-top: 10px;
    font: 700 1.1em 'Noto Sans KR', sans-serif;
    letter-spacing: 2px;
    box-sizing: border-box;
    background-color: #0e78e2;
    color: white;
    padding: 5.5px;
    box-shadow: 2px 2px 2px gray;
}
