<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>I'm Here</title>
</head>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bevan&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">

<link rel="stylesheet" href="../static/css/attendance.css" th:href="@{/css/attendance.css}">

<body>

  <header>
    <div class="logo">
      <h2><a href="attendance.html">I'm Here</a></h2>
    </div>
    <nav>
      <ul>
        <li><a href="">출석</a></li>
        <li> <a href="">멤버관리</a></li>
        <li> <a href="">출결관리</a></li>
      </ul>
      <div><a href="index.html" id="logout">로그아웃</a></div>
    </nav>
  </header>
  <div class="container">
    <button id="startBtn" type="submit">Start</button>
  <button id="stopBtn" type="submit">Stop</button>
</div>
</body>
</html>