<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>I'm Here</title>
</head>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bevan&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">

<link rel="stylesheet" href="../static/css/check.css">

<body>

  <header>
    <div class="logo">
      <h2><a href="../html/attendance.html">I'm Here</a></h2>
    </div>
    <nav>
      <ul>
        <li><a href="attendance.html">출석</a></li>
        <li> <a href="members.html">멤버관리</a></li>
        <li> <a href="check.html">출결관리</a></li>
      </ul>
      <div><a href="index.html" id="logout">로그아웃</a></div>
    </nav>
  </header>

  <div class="container">
</div>
</body>
</html>