<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>I'm Here</title>
</head>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bevan&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">

<link rel="stylesheet" href="../static/css/check.css">

<body>

  <header>
    <div class="logo">
      <h2><a href="../html/attendance.html">I'm Here</a></h2>
    </div>
    <nav class="menu">
      <ul>
        <li><a href="attendance.html">출석</a></li>
        <li> <a href="class_selection.html">수업관리</a></li>
        <li> <a href="members.html" th:href="@{/user/courses}">멤버관리</a></li>
        <li> <a href="check.html">출결관리</a></li>
      </ul>
      <div><a href="index.html" id="logout">로그아웃</a></div>
    </nav>
  </header>

  <div class="container">
    <table class="members">
      <tr id="th">
        <th>번호</th>
        <th>이름</th>
        <th>나이</th>
        <th>출결 현황</th>
      </tr>
      <tbody>
        <tr>
          <td>39</td>
          <td>정도식 </td>
          <td>26</td>
          <td id="status">출석</td>
        </tr>
        <tr>
          <td>39</td>
          <td>정도식</td>
          <td>26</td>
          <td id="status">결석</td>
        </tr>
        <tr>
          <td>39</td>
          <td>정도식 </td>
          <td>26</td>
          <td id="status">지각</td>
        </tr>
      </tbody>
    </table>
</div>


<script>
  const table = document.querySelector('.members');
  table.addEventListener('DomSubtreeModified',check());

  function check() {
  var status=document.querySelectorAll("#status");
  for(i=0;i<status.length;i++)
  {
    var tr=status[i].parentNode;
  if(status[i].innerHTML=='출석')
  {
tr.style.backgroundColor='#b8e994';
}
  else if(status[i].innerHTML=='결석')
  {
  tr.style.backgroundColor='#e66767';
  }
  else if(status[i].innerHTML=='지각')
  {
    tr.style.backgroundColor='#f7d794';
    }
  }
}
</script>
</body>
</html>