<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>I'm Here</title>
</head>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bevan&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">

<link rel="stylesheet" href="../static/css/class_selection.css" th:href="@{/css/class_selection.css}">

<body>

  <header>
    <div class="logo">
      <h2><a href="attendance.html" th:href="@{/user/attendance}">I'm Here</a></h2>
    </div>
    <nav class="menu">
      <ul>
        <li><a href="attendance.html">출석</a></li>
        <li> <a href="class_selection.html">수업관리</a></li>
        <li> <a href="class_selection.html" th:href="@{/user/courses}">멤버관리</a></li>
        <li> <a href="check.html">출결관리</a></li>
      </ul>
      <div><a href="index.html" id="logout" th:href="@{/logout}">로그아웃</a></div>
    </nav>
  </header>


  <div class="container">
<h3>수업 목록</h3>
<div class="classList" id="list">

  <ul class="classContainer">
<li th:each="course: ${courses}"><a href="#" th:href="@{/user/members/{cId} (cId=${course.id})}" th:text="${course.courseName}"></a></li>

</ul>

<input type="button" id="add" onclick="createClass()" value="추가+">

</div>
  </div>

  <form id="form" th:object="${addCourseDto}" th:action="@{/user/courses}" method="post">
  <div id="modalWrap">
    <a th:href="@{/user/courses}" id="modalClose" onclick="offclick()">닫기</a>
    <div id="classInsert">
      <label th:for="courseName">
    <input type="text" th:field="*{courseName}" style="display:block" placeholder="수업명을 입력해주세요." >
      </label>
    <input type="submit" value="입력" id="insert" >
  </div>
  </div>
  <div id="bg_black"></div>
</form>
  <script>

    function createClass() {
      var modal=document.querySelector('#modalWrap');
      var bg=document.querySelector('#bg_black');
      modal.style.display='flex';
      bg.style.display='block';
    }

    function offclick() {
      var modal=document.querySelector('#modalWrap');
      var bg=document.querySelector('#bg_black');
      modal.style.display='none';
      bg.style.display='none';
    }

  </script>
</body>
</html>