<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
        lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>I'm Here</title>
</head>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bevan&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">

<link rel="stylesheet" href="../static/css/members.css" th:href="@{/css/members.css}">

<body>


<header>
  <div class="logo">
    <h2><a href="../html/attendance.html" th:href="@{/user/attendance}">I'm Here</a></h2>
  </div>
  <nav>
    <ul>
      <li> <a href="class_selection.html" th:href="@{/user/courses}">수업관리</a></li>
      <li> <a href="members.html" th:href="@{/user/course/{id}/members (id=${courseId})}">멤버관리</a></li>
      <li> <a href="date.html" th:href="@{/user/course/{id}/dates (id=${courseId})}">출결관리</a></li>
    </ul>
    <div><a href="index.html" id="logout" th:href="@{/logout}">로그아웃</a></div>
  </nav>
</header>

  <div class="container" >
    <table class="members" >
      <tr>
        <th>번호</th>
        <th>이름</th>
        <th>나이</th>
        <th>관리</th>
        </tr>

      
      
      <tr th:each="member : ${members}">
        <td th:text="${member.number}"></td>
        <td th:text="${member.name}"></td>
        <td th:text="${member.age}"></td>
        <td th:with="mId=${member.id}">
          <form method="get" th:action="@{/user/course/${courseId}/members/${mId}/delete}">
          <input class = "edit" id="fix" type="submit" value="수정" th:onclick="'javascript:updatePopup(\'' + ${courseId} +'\',\'' + ${mId} +'\');'"> /
          <input class = "edit" id="dlt" value="삭제" type="submit" >
        </form>
        </td>
      </tr>

      
      <tr>

      </tr>
    </table>

    <input type="button" id="add" th:onclick="'javascript:showPopup('+ ${courseId} +');'" value="추가">
  </div>
</body>
<script>
  function showPopup(courseId){
    var popupX = (window.screen.width / 2) - (680 / 2);
    var popupY= (window.screen.height / 2) - (250 / 2);
    window.open('/user/course/' + courseId + '/members/add', 'membeAdd', 'status=no, height=250, width=680, left='+ popupX + ', top='+ popupY);

  }

  function updatePopup(courseId, memberId){
    var popupX = (window.screen.width / 2) - (680 / 2);
    var popupY= (window.screen.height / 2) - (250 / 2);
    window.open('/user/course/' + courseId + '/member/' + memberId + '/update', 'membeAdd', 'status=no, height=250, width=680, left='+ popupX + ', top='+ popupY);

  }
</script>
</html>