<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>I'm Here</title>
</head>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bevan&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">

<link rel="stylesheet" href="../static/css/members.css">

<body>

  <header>
    <div class="logo">
      <h2><a href="../html/attendance.html">I'm Here</a></h2>
    </div>
    <nav>
      <ul>
        <li><a href="attendance.html">출석</a></li>
        <li> <a href="members.html">멤버관리</a></li>
        <li> <a href="check.html">출결관리</a></li>
      </ul>
      <div><a href="index.html" id="logout">로그아웃</a></div>
    </nav>
  </header>

  <div class="container">
    <table class="members">
      <tr>
        <th>번호</th>
        <th>이름</th>
        <th>나이</th>
        <th>수업</th>
        <th>관리</th>
        </tr>
      
      
      <tr>
        <td>39</td>
        <td>홍길동</td>
        <td>24</td>
        <td>자료구조</td>
        <td><input class = "edit" id="fix" type="submit" value="수정"> / <input class = "edit" id="dlt" type="submit" value="삭제"></td>
      </tr>
      <tr>

      </tr>
    </table>

    <input type="button" id="add" onclick="showPopup();" value="추가+">
  </div>
</body>
<script>
  function showPopup(){
    var popupX = (window.screen.width / 2) - (750 / 2);
    var popupY= (window.screen.height / 2) - (300 / 2);
    window.open('popup.html', 'membeAdd', 'status=no, height=300, width=750, left='+ popupX + ', top='+ popupY);
  }
</script>
</html>